body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#map {
    height: 100vh;
}

.title {
    font-size: 88px;
    position: absolute;
    z-index: 10;
    top: 100px;
    left: 100px;
    color: #333333;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
}

.search-container {
    width: 400px;
    height: 60px;
    background-color: #454e53;
    position: absolute;
    z-index: 10;
    left: 100px;
    top: 230px;
    border-radius: 30px;
}

.search{
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.search input {
    flex-grow: 1;
    font-size: 25px;
    background-color: transparent;
    border: none;
    color: white;
}

.search input {
    outline: none;
}

.search i {
    color: white;
    font-size: 25px;
}

.store-list-container {
    width: 400px;
    border-radius: 30px;
    background-color: white;
    top: 320px;
    position: absolute;
    z-index: 10;
    left: 100px;
    bottom: 20px;
}

.store-info-window {
    min-width: 300px;
    font-size: 18px;
    padding: 8px;
}

.store-info-name {
    font-size: 24px;
    font-weight: bold;
    color: rgba(0,0,0,0.87);
}

.store-info-open-status {
    margin-top: 6px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
    color: rgba(0,0,0,0.57);
}

.store-info-address, .store-info-phone {
    margin-top: 8px;
    display: flex;
    align-items: center;
}

.store-info-address .icon, .store-info-phone .icon {
    width: 30px;
    height: 30px;
    background-color: #183153;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    margin-right: 8px;
}

.store-info-phone a, .store-info-address {
    text-decoration: none;
    color: #514c4c;
}